/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/* 
      MAIN COLOR: #087f5b
      GREY COLOR: #343a40
      */

.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: #f5f5f5;
}
#lion-editor-toolbar {
  background-color: rgb(175, 175, 175);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.editableArea {
  background-color: white;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  grid-column: 2;
  grid-row: 2;
  margin: 60px 20px 40px 10px;
  padding: 20px;
}
.lion-editor-button-list {
  display: flex;
  gap: 10px;
}
.lion-editor-toolbar-left-bl {
  flex-direction: column;
}
.lion-editor-toolbar-top-bl {
  gap: 20px;
}
.lion-editor-button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #3e3e3e;
  background-color: #d9d9d9;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.lion-editor-button:hover {
  background-color: #43bebf;
}

/*  grid setting  */
.lion-editor-toolbar-top {
  grid-column: 2;
  grid-row: 1;
  background-color: red;
  height: 100px;
}
.button-list-top {
  display: flex;
}

.lion-editor-toolbar-left {
  grid-column: 1;
  grid-row: 1/-1;
  background-color: gray;
}
.lion-editor-toolbar-bottom {
  grid-column: 2;
  grid-row: 3;
  background-color: blue;
  height: 100px;
}
